.logoutButton {
    position: absolute;
    top: 5%;
    right: 7%;
    background-color: transparent;
    outline: none;
    border: none;
}

.icon {
    pointer-events: none;
}

.logoutButton:hover {
    cursor:pointer;
}