.recipeCard {
    width: 15rem;
    color: var(--light-accent);
    border-radius: var(--border-radius);
    /* padding: 0.2rem 0.5rem;
    margin: 10px;
    background-color: var(--dark-accent); */

}

.name {
    text-align: center;
    margin: 0px 20px;
    font-weight: 500;
    font-family: var(--font-heading);
}

.imageContainer {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.defaultImageContainer {
    width: 226px;
    height: 226px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 27px;
    background-color: var(--dark-accent);
}

.image {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.defaultImage {
    margin: 0 auto;
    width: 60%;
    height: 60%;
    /* border: 3px solid var(--text-color); */
}