.recipeCard {
    width: 15rem;
    height: 19rem;
    color: var(--light-accent);
    border-radius: var(--border-radius);
    margin: 0px 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipeCard:hover {
    background-image: linear-gradient(to bottom right, var(--background-color), var(--dark-accent),  var(--background-color));
}

.name {
    text-align: center;
    margin: 10px 20px;
    margin-top: 15px;
    font-weight: 500;
    font-family: var(--font-heading);
    text-transform: capitalize;
}

.imageContainer {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaultImageContainer {
    width: 226px;
    height: 226px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 27px;
    margin-top: 10px;
    background-color: var(--dark-accent);
}

.image {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.defaultImage {
    margin: 0 auto;
    width: 60%;
    height: 60%;
}