.recipeCard {
    width: 15rem;
    color: var(--light-accent);
    border-radius: var(--border-radius);
    padding: 0.7rem 0.2rem;
    /* background-color: var(--dark-accent); */

}

.name {
    text-align: center;
    margin: 0px 20px;
    font-weight: 500;
    font-family: var(--font-heading);
}

.image {
    width: 90%;
    margin: 0 auto;
    margin: 15px;
}