.main {
  justify-content: space-between;
  align-items: left;
  padding: 3rem 5rem;
  min-height: 100vh;
}

.recipeContainer {
    display: flex;
    flex-direction: row;
    /* background-color: var(--dark-accent); */
}

.recipeHeading {
    text-transform: uppercase;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 2rem;
    margin: 1rem 0;
}

.ingredientsHeading, .instructionsHeading {
    font-size: 1.5rem;
    font-family: var(--font-heading);
    margin: 1rem 0;
}

.ingredients, .instructions {
    color: var(--light-accent);
    font-weight: 200;
}

.instructions > li {
    margin: 1rem;
}

.ingredients > li {
    margin: 0.3rem 1rem;
}

.icon {
    width: 75px;
}

.left {
    margin: 1rem;
    padding: 1.2rem;
    background-color: var(--dark-accent);
}

.right {
    margin: 0rem 1rem;
    padding: 1rem;
}

.originalRecipeLink > Link {
    font-style: italic;
    font-weight: 200;
}