.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    min-height: 100vh;
}

.imageUploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 2rem;
    margin: 1rem 0;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
}

.addRecipeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.formField {
    background-color: var(--dark-accent);
    color: var(--light-accent);
    border: none;
    padding: 0.7rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.formField:focus-visible {
    outline: 2px solid rgba(232, 213, 179, 0.196);
}

.formTextArea {
    background-color: var(--dark-accent);
    color: var(--light-accent);
    border: none;
    padding: 0.7rem;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 20vh;
    margin-bottom: 0.5rem;
    font-family: var(--font-body);
    font-size: 0.8rem;
}

.formTextArea:focus-visible {
    outline: 2px solid rgba(232, 213, 179, 0.196);
}

.submitButton, .cancelButton, .uploadImageButton {
    margin: 1rem;
    padding: 1rem 2rem;
    border: 0.5px solid var(--light-accent);
    color: var(--light-accent);
    border-radius: 15px;
    font-size: 1rem;
    background-color: transparent;
}

.uploadImageButton {
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
}

.loginHeading {
    font: var(--font-heading);
    font-size: 1.5rem;
}