.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  min-height: 100vh;
}

.headingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.heading {
    text-transform: uppercase;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 3.5rem;
    margin-top: -70px;
}

.recipeGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem;
}

.logoutButton {
    position: absolute;
    top: 5%;
    right: 7%;
    background-color: transparent;
    outline: none;
    border: none;
}