.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    min-height: 100vh;
}

.headingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.heading {
    text-transform: uppercase;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 3.5rem;
    margin-top: -70px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 5vh;
}

.formField {
    background-color: var(--dark-accent);
    color: var(--light-accent);
    border: none;
    padding: 0.7rem;
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 15px;
}

.formField:focus-visible {
    outline: 2px solid rgba(232, 213, 179, 0.196);
}

.loginButton {
    margin: 1rem;
    padding: 1rem;
    border: 0.5px solid var(--light-accent);
    color: var(--light-accent);
    border-radius: 15px;
    font-size: 1rem;
    width: 30%;
    background-color: transparent;
}

.loginHeading {
    font: var(--font-heading);
    font-size: 1.5rem;
}