.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.heading {
    text-transform: uppercase;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 3rem;
}

.recipeGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}