.main {
  justify-content: space-between;
  align-items: left;
  padding: 3rem 5rem;
  min-height: 100vh;
}

.recipeContainer {
    display: flex;
    flex-direction: column;
    /* background-color: var(--dark-accent); */
}

.recipeHeading {
    text-transform: uppercase;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 2rem;
    margin: 1rem 0;
}

.recipeInfoContainer {
    margin: 1rem;
    margin-left: 2rem;
    margin-top: 0;
    line-height: 1.75rem;
    font-weight: 300;
}

.infoLineContainer {
    display: flex;
    align-items: center;
    margin: 5px;
    margin-left: 0;
}

.icon {
    width: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

.ingredientsHeading, .instructionsHeading {
    font-size: 1.5rem;
    font-family: var(--font-heading);
    margin: 1rem 0;
    color: var(--text-color);
}

.ingredientsContainer {
    width: 500px;
    margin: 0rem 1.5rem;
    line-height: 1.5rem;
    color: var(--text-color-light);
    font-weight: 300;
}

.instructionsContainer {
    margin: 0rem 1.5rem;
    line-height: 1.5rem;
    color: var(--text-color-light);
    font-weight: 300;
    width: 700px;
}

/* .ingredients, .instructions {
    font-weight: 200;
    white-space: pre-line;
}

.instructions > li {
    margin: 1rem;
}

.ingredients > li {
    margin: 0.3rem 1rem;
} */

.top {
    margin: 1rem;
    margin-bottom: 0;
    padding: 1.2rem;
    padding-bottom: 0rem;
    background-color: var(--dark-accent);
    display: flex;
    flex-direction: row;
}

.bottom {
    margin-top: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.linkContainer {
    align-items:flex-start;
}

.linkURL {
    font-style: italic;
}

.imageContainer {
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 230px;
    height: 230px;
}

.defaultImage {
    width: 60%;
    /* border: 3px solid var(--text-color); */
}